.table-editable {
	position: relative;
}

.glyphicon {
	font-size: 20px;
}

.table-remove {
	color: #700;
	cursor: pointer;
}

.table-remove:hover {
	color: #f00;
}

.point-remove {
	color: #700;
	cursor: pointer;
}

.point-remove:hover {
	color: #f00;
}

.showDetail {
	cursor: pointer;
}

.showDetail:hover {
	color: #700;
	cursor: pointer;
}

.hideDetail {
	cursor: pointer;
}

.hideDetail:hover {
	color: #700;
	cursor: pointer;
}

.table-add-point {
	cursor: pointer;
}

.table-add-point:hover {
	color: #f00;
}

.table-remove-point {
	cursor: pointer;
}

.table-remove-point:hover {
	color: #f00;
}

.canvas-div {
	padding-top: 5px;
}
.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 14px;
	vertical-align: middle;
	margin-top: 7px;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #A1A6AB;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 0px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

table tr {
	cursor: pointer;
}

.hiddenRow {
	padding: 0 4px !important;
	background-color: #fff;
	font-size: 13px;
}

.canvas-input {
	text-align: center;
}

input:checked+.slider {
	background-color: #3cc90d;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(17px);
	-ms-transform: translateX(17px);
	transform: translateX(17px);
}


/* Rounded sliders */

.slider.round {
	border-radius: 20px;
}

.slider.round:before {
	border-radius: 50%;
}

.ui-spinner-input {
	width: 30px;
	height: 18px;
}