.table-editable { position: relative; }
.glyphicon { font-size: 20px; }
.table-remove {
	color: #700;
	cursor: pointer;
}
.table-remove:hover { color: #f00; }
.point-remove {
	color: #700;
	cursor: pointer;
}
.point-remove:hover { color: #f00; }

.showDetail{
	cursor: pointer;
}
.showDetail:hover {
	color: #700;
	cursor: pointer;
}
.hideDetail{
	cursor: pointer;
}
.hideDetail:hover {
	color: #700;
	cursor: pointer;
}
.table-add-point{
	cursor: pointer;	
}
.table-add-point:hover { color: #f00; }
.table-remove-point{
	cursor: pointer;	
}
.table-remove-point:hover { color: #f00; }
div{ padding-top: 5px; }
@media screen and (max-width:991px) {
	#pakete .box {
		overflow:auto;
		min-width:0;
		width:100%
	}
	#pakete .box table {
		width:950px;
	}
	.rotate {
		margin:0!important;
		position:absolute;
		top:100px!important;
		left:auto!important;
		right:-150px!important;
		width:200px!important;
	}
	.front {
		position:relative;
		width:950px;
		padding-right:200px;
	}
}

.switch {
	position: relative;
	display: inline-block;
}

.switch input {display:none;}

.slider {
	width: 25px;
	height: 10px;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 6px;
	width: 9px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(13px);
	-ms-transform: translateX(13px);
	transform: translateX(13px);
}

.slider.round {
	border-radius: 12px;
}

.slider.round:before {
	border-radius: 50%;
}